a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#menu_74f6e22b a { text-decoration: none; }
#menu_74f6e22b_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_74f6e22b_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_74f6e22b_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_74f6e22b_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_74f6e22b_entry:hover span { color:#FFFFFF !important; }
		.menu_74f6e22b_mainMenuEntry { text-align: center; }
		.menu_74f6e22b_mainMenuEntry:hover {	background-color:#282828; }
		.menu_74f6e22b_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_74f6e22b .mobileEntry { display: none; } 
		#menu_74f6e22b .normalEntry { display: block; } 
		#menu_74f6e22b_menualignmentwrapper{ width:267px; left: calc(50% - 133px);  } 
		@media only screen and (max-width:600px) { 
			#menu_74f6e22b .mobileEntry { display: block; } 
			#menu_74f6e22b .normalEntry { display: none; } 
			#menu_74f6e22b_menualignmentwrapper { width:36px; left: calc(50% - 18px);  } 
		}
body { background-color:#FFDBB8; background: linear-gradient(to bottom, #800000, #FFDBB8); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_74f6e22b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:64px; text-align:left; background-color:#E5E5E5; background-image: url(rc_images/untitled_design.png); background-position:top left; background-size:cover; border: 1px solid #A0A0A0;  }
#menu_74f6e22b_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:36px; height:64px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:66px; height:64px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:15px;  }
.textstyle3 { font-size:12pt; font-family:Copperplate; color:#800000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:73px; height:64px; left:66px;  }
.menustyle4 { position:absolute; width:98px; height:64px; left:139px;  }
.menustyle5 { position:absolute; width:30px; height:64px; left:237px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.textstyle4 { font-size:12pt; font-family:Copperplate; color:#000000;  white-space: nowrap; }
#img_2babed2f { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
